<h1>Daily Records</h1>

<div align="right">
    <h3><a href="/users">Back</a></h3>
</div>

<table style="width:100%">
  <tr>
    <th style="text-align: left;">Date</th>
    <th style="text-align: left;">Male Count</th>
    <th style="text-align: left;">Female Count</th>
    <th style="text-align: left;">Male Avg</th>
    <th style="text-align: left;">Female Avg</th>
  </tr>
  {% for daily_record in daily_records %}
    <tr>
      <td>{{ daily_record.date }}</td>
      <td>{{ daily_record.male_count }}</td>
      <td>{{ daily_record.female_count }}</td>
      <td>{{ daily_record.male_avg_age }}</td>
      <td>{{ daily_record.female_avg_age }}</td>
    </tr>
  {% endfor %}
</table>
